@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --regular-14: Roboto;

  /* font sizes */
  --regular-14-size: 14px;
  --medium-12-size: 12px;
  --bold-26-size: 26px;
  --font-size-2xl: 21px;
  --regular-16-size: 16px;
  --medium-50-size: 50px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --medium-36-size: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --regular-18-size: 18px;

  /* Colors */
  --colour-secondary-white-100-general: #fff;
  --color-lavender: #e7ecff;
  --colour-main-blue-300: #929ecc;
  --color-lightgray: #cdd1d4;
  --colour-logo-primary: #37447e;
  --colour-main-blue-700: #222f65;
  --colour-main-blue-800: #111b47;
  --colour-main-grey-400: #939ea4;
  --colour-main-grey-600: #5d6970;
  --colour-main-blue-400: #6f7cb2;
  --colour-main-blue-500: #505f98;
  --colour-main-blue-900: #091133;
  --color-black: #000;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-43xl: 62px;
  --gap-31xl: 50px;
  --gap-4xs: 9px;
  --gap-2xs: 11px;
  --gap-9xl: 28px;
  --gap-153xl: 172px;
  --gap-base: 16px;
  --gap-106xl: 125px;
  --gap-136xl: 155px;
  --gap-61xl: 80px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-50xl: 69px;
  --gap-252xl: 271px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-9xs: 4px;
  --padding-smi: 13px;
  --padding-xl: 20px;
  --padding-155xl: 174px;
  --padding-94xl: 113px;
  --padding-10xs: 3px;
  --padding-3xs: 10px;
  --padding-275xl: 294px;
  --padding-172xl: 191px;
  --padding-105xl: 124px;
  --padding-98xl: 117px;
  --padding-150xl: 169px;
  --padding-190xl: 209px;
  --padding-85xl: 104px;
  --padding-65xl: 84px;
  --padding-57xl: 76px;
  --padding-23xl: 42px;
  --padding-33xl: 52px;
  --padding-11xs: 2px;
  --padding-5xl: 24px;
  --padding-72xl: 91px;
  --padding-146xl: 165px;
  --padding-142xl: 161px;
  --padding-61xl: 80px;
  --padding-63xl: 82px;
  --padding-40xl: 59px;
  --padding-22xl: 41px;
  --padding-21xl: 40px;
  --padding-8xs: 5px;
  --padding-103xl: 122px;
  --padding-113xl: 132px;
  --padding-76xl: 95px;
  --padding-60xl: 79px;
  --padding-67xl: 86px;
  --padding-28xl: 47px;
  --padding-mini: 15px;
  --padding-90xl: 109px;
  --padding-52xl: 71px;
  --padding-367xl: 386px;
  --padding-232xl: 251px;
  --padding-144xl: 163px;
  --padding-6xs: 7px;
  --padding-224xl: 243px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-11xs: 2px;
}
